*{
    margin:0px;
    padding:0px;
}
@font-face {
    font-family:'passionblack';
    src: url("font/PassionOne-Regular.ttf");  
}
@font-face {
    font-family: 'texto';
    src: url("font/Sriracha-Regular.ttf");
}
header{
    width: 100%;
    background-color:black;
    height:330px;
    text-align: center;
    
}
header > h1{
    font-family: "passionblack", sans-serif;
    font-weight: bolder;
    color:white;
    font-size: 10vw;
    letter-spacing: 5px;
    font-variant: small-caps;
    padding-top: 40px;
    
    
}


header>p>a{
    text-decoration: none;
    font-size:1.5vw;
    color:white;
    font-weight: bold;
}
header>p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size:1.5vw;
    color:white;
    font-weight: normal;
}

header > p > a:hover{
    background-color:white;
    color:rgb(0, 0, 0);
    padding:5px;
}
   



article > #div2{
    background-image:url("imagens/background001.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
}
article > #div3{
    background-image:url("imagens/background002.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;  
}
div>p{
    font-family: 'texto', sans-serif;
    color:black;
    font-size:3vw;
    padding-left:30px;
    min-width: 450px;
    max-width: 650px;
}
.div1{
    min-width: 450px;
    max-width: 650px;
    background-color: white;
    padding-bottom: 50px;
}

#div2>p{
    min-width: 450px;
    max-width: 650px;
    border:1px solid rgba(0, 0, 0, 0);
    background-color:rgba(0, 0, 0, 0.267);
    color:white;
    display:inline-block;
}
    

#div3>p{
    min-width: 450px;
    max-width: 650px;
    border:1px solid rgba(0, 0, 0, 0);
    background-color:rgba(0, 0, 0, 0.541);
    color:white;
}

