body{
    width:100vh;
  
    

}
p{
    font-size:3.5vh;
    background-color:rgb(229, 255, 0);
    position:absolute;
    left:30%;
    border: 1px solid black;
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left:30px;
}

    

div>p{
    background-color:aqua;
    
}

   
