body{
    width:98vh;
    height:98vh;
    background-image: url("imagens/wallpaper003.jpg");
    background-position: left top;
    

}
.quadrado{
    display:inline-block;
    width:300px;
    height:300px;
    border:1px solid black;
    background-color:aliceblue;
    

}
div#q1{
    background-color:aqua;
    position:absolute;
    left:99%;
    transform:translate(-98%)
}
div#q2{
    background-image:linear-gradient(to bottom, yellow, red);
}
div#q3{
    background-image:url("imagens/pattern003.png");
}