

    

body{
    background-image: url("imagens/body.jfif");
    width:100vh;
    background-attachment: fixed;
}

div{
    background-color:#F2F5F4;
    border-top:0px;
    border-right: 0px;
    border-bottom: 1px;
    border-left: 0px;
    border-color: rgba(0, 0, 0, 0.219);
    border-style: solid;
    height:70px;
    border-radius:10px;
}    


body > div{
    position: absolute;
    background-color:#F2F5F4;
    display:block;
   
   
   
    
    
    

    
}
.imenu{
    width:40px;
    position:absolute;
    left:1%;
    transform: translate(-1%);
    z-index:1;
    
    
}
.logob{
    width:140px;
    position:absolute;
    left:50%;
    transform:translate(-50%);
    z-index:1;
}
.ipes{
    position:absolute;
    width:20px;
    left:99%;
    top:1%;
    transform:translate(-99%);
    z-index:1;
}
main{
    width:1020px;
    height: 80%;
    background-color: #F2F5F4;
    position: absolute;
    border:1px solid #F2F5F4;
    top:27%;
    left:50%;
    transform:translate(-50%)
}

    

img#imglogo{
width:220px; 
position:absolute;
left:50%;
transform:translate(-50%)  
}
h2{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    color:rgb(70, 65, 65);
    position:absolute;
    top:17%;
    left:50%;
    transform:translate(-50%)
}
.div2{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    color:rgb(70, 65, 65);
    position:absolute;
    top:24%;
    left:50%;
    transform:translate(-50%);
    padding:5px 150px;
    border:1px solid black;
    border-radius:10px;
    width:300px;
    height:30px;
    
    
}
p{
    position:absolute;
    top:-10%;
    left:2%;
    transform:translate(-2%);

    
    
   
     
}