*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: "Bai Jamjuree", sans-serif;
    transition: 0.5s linear;
}

:root{
    --cyan:hsl(171, 66%, 44%);
    --lightblue:hsl(233, 100%, 69%);
    --titlecolor: #4B5157;
    --pcolor: #b0b1b3;
}
body{
    width:100vw;
    margin:auto;
}
header{
    background-image: url(images/bg-header-desktop.png);
    background-size:cover;
    width:100vw;
    height:300px;
    margin:auto;
    display:flex;
    justify-content: center;
    align-items: end;
}
.logo{
    
    margin:auto;
}


.title{
    width:30vw;
    margin:auto;
    margin-bottom: 50px;
    text-align: center;
}
.title>h1{
    color:var(--titlecolor);
    padding:40px 0;
}
.title>p{
    text-align: center;
}
p{
    color:var(--pcolor);
    font-size:14px;
}
.download{
    width:350px;
    display:flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin:auto;
    margin-bottom: 100px;
    
}
.ios{
    background-color: var(--cyan);
    text-decoration: none;
    color:white;
    padding:10px;
    border-radius: 20px;
    box-shadow: 1px 2px 1px rgb(41, 151, 151);
}
.mac{
    background-color: var(--lightblue);
    text-decoration: none;
    color:white;
    padding:10px;
    border-radius: 20px;
    box-shadow: 1px 2px 1px hsl(210, 10%, 33%);
}
.h2{
    width:30vw;
    display:grid;
    margin:auto;
    text-align: center;
    gap: 10px;
    margin-bottom: 70px;
}
h2{
    color:var(--titlecolor);
}
.pcdiv{
    width:75vw;
    display:flex;
    align-items: center;
    margin:auto;
    gap: 80px;
    margin-bottom: 130px;
}
.sidepc{
    width:22vw;
    display:grid;
    gap:20px;
}
h3{
    color:var(--titlecolor)
}
.mid{
    width:30vw;
    display:grid;
    align-items: center;
    justify-content: center;
    margin:auto;
    text-align: center;
    gap: 20px;
    margin-bottom: 70px;
    
}
.mid>img, .pc>img{
    width:37vw;
}
.pmargin{
    margin-bottom: 50px;
    width:30vw;
    margin:auto;
}
.footer{
    width:75vw;
    display:grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: repeat(3, 1fr);
    margin:auto;
    margin-bottom: 150px;
}
.tips{
    width:20vw;
    display:grid;
    justify-items: center;
    gap: 20px;
    text-align: center;
}
.logos{
    width:75vw;
    display:grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: repeat(5, 1fr);
    margin:auto;
    margin-bottom: 50px;
    gap:20px;
}
footer{
    background-color:hsl(200, 9%, 94%);
    width:100vw;
    height:100px;
    display:flex;
    align-items: center;
    justify-items: center;
    justify-content: space-around;
    margin:auto;
}
.faq{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
}
.faq>a{
    text-decoration: none;
    color: var(--titlecolor);
    padding:10px 13px;
}
.sociais{
    display:flex;
    gap:20px;
}
span{
    color:var(--cyan)
}

@media (max-width:1250px){
    .pc>img{
        width:40vw;
    }
    .mid>img{
        width:40vw;
    }
    .logos{
        width:75vw;
        padding:0px 10vw;
        display:flex;
        flex-wrap: wrap;
        justify-content: space-around;
        
    }
    .logos>img{
        width:100px;
        
    }
    .faq{
        display:flex;
        flex-wrap: wrap;
    }

    
    .tips>img{
        width:30px;
    }
        
    
}
@media(max-width: 500px){
    body{
        width:410px;
        margin:auto;
    }
    header{
        background-image: url(images/bg-header-mobile.png);
        background-size: cover;
        width:410px;
        height:max-content;
        margin:auto;
        display:flex;
        justify-content: center;
        align-items: end;
    }
    .logo{
        width:auto;
        display:flex;
        justify-content: center;
    }
    .title{
        width:auto;
        margin:auto;
        margin-bottom: 50px;
    }
    .title>h1{
        color:var(--titlecolor);
        padding:40px 10vw;
        width:410px;
        text-align: center;
    }
    .title>p{
        text-align: center;
        width:410px;
        padding:0px 10vw;
    }
    p{
        color:var(--pcolor);
        font-size:14px;
    }
    .download{
        width:410px;
        display:grid;
        align-items: center;
        justify-content: center;
        gap: 15px;
        margin:auto;
        margin-bottom: 100px;
        
    }
    .ios{
        background-color: var(--cyan);
        text-decoration: none;
        color:white;
        padding:10px;
        border-radius: 20px;
        box-shadow: 1px 2px 1px rgb(41, 151, 151);
    }
    .mac{
        background-color: var(--lightblue);
        text-decoration: none;
        color:white;
        padding:10px;
        border-radius: 20px;
        box-shadow: 1px 2px 1px hsl(210, 10%, 33%);
    }
    .h2{
        width:410px;
        display:grid;
        margin:auto;
        text-align: center;
        gap: 10px;
        margin-bottom: 70px;
        padding:0px 15vw;
    }
    h2{
        color:var(--titlecolor);
    }
    .pcdiv{
        width:410px;
        display:grid;
        align-items: center;
        margin:auto;
        gap: 80px;
        margin-bottom: 130px;
    }
    .pc>img{
        width:410px;
        margin:auto;
        padding:0px 10vw;
    }
    .sidepc{
        width:410px;
        display:grid;
        align-items: center;
        justify-items: center;
        gap:20px;
        padding:0px 22vw;
        text-align: center;
    }
    h3{
        color:var(--titlecolor)
    }
    .mid{
        width:410px;
        display:grid;
        align-items: center;
        justify-content: center;
        margin:auto;
        text-align: center;
        padding:0px 10vw;
        gap: 20px;
        margin-bottom: 70px;
        
    }
    .mid>img{
        width:410px;
        padding:0 10vw;
    }
    .pmargin{
        margin-bottom: 50px;
        width:410px;
        margin:auto;
        text-align: center;
        padding:0 22vw;
    }
    .footer{
        width:410px;
        display:grid;
        align-items: center;
        justify-items: center;
        grid-template-columns: repeat(1, 1fr);
        margin:auto;
        margin-bottom: 150px;
        gap:40px;
    }
    .tips{
        width:300px;
        display:grid;
        justify-items: center;
        gap: 20px;
        text-align: center;
        padding:0 10vw;
    }
    .logos{
        width:410px;
        display:grid;
        align-items: center;
        justify-items: center;
        grid-template-columns: repeat(1, 1fr);
        margin:auto;
        margin-bottom: 50px;
        gap:60px;
    
    }
    footer{
        background-color:hsl(200, 9%, 94%);
        width:410px;
        height:max-content;
        display:grid;
        align-items: center;
        justify-items: center;
        justify-content: space-around;
        margin:auto;
    }
    footer>img{
        margin:30px 0px;
    }
    .faq{
        display:grid;
        grid-template-columns: repeat(1, 1fr);
        align-items: center;
        justify-items: center;
        gap:10px;
    }
    .faq>a{
        text-decoration: none;
        color: var(--titlecolor);
        padding:10px 13px;
    }
    .sociais{
        display:flex;
        gap:20px;
        margin:20px 0px;
    }
    span{
        color:var(--cyan)
    }
}