*{
    margin:0;
    padding:0;
    outline: none;
    font-family: "Lato", sans-serif;
    text-decoration: none;
    transition: 0.4s linear;
}


.sectcab{
    width:100vw;
    background-color: rgb(255, 255, 255);
    border-bottom:5px solid #000000bb;
    position: fixed;
    top:0;
    z-index: 10;
}
.conteudocab{
    display:flex;
    align-items: center;
    justify-content: center;
    max-width: 1200px;
    margin:0 auto;
    padding-left: 10vw;
    padding-right: 10vw;
}
.logo>img{
    width:150px;
    -webkit-filter: invert(100%);
}

.logo{
    width:150px;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.conteudocab>a>img{
    width:40px;
    -webkit-filter: invert(100%);
}

.conteudocab>a{
    width:40px;
    padding:10px;
    border-radius:10px;
    display:grid;
    align-items: center;
    justify-content: center;
}
.logo:hover{
    
    background-color: rgb(255, 255, 255);
    -webkit-filter: invert(100%);
}
.conteudocab>a:hover{
    background-color: rgb(255, 255, 255);
    -webkit-filter: invert(100%);
}
span{
    text-align: center;
    font-size:12px;
    color: black;
    font-variant: small-caps;
    font-weight: bolder;
    display:none;
}
a:hover>span{
    display:block;
    
}


.background{
    display:grid;
    align-items: center;
    justify-content: center;
    background-image: url(grafite3.jpg);
    height:100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 70%;
    background-attachment: fixed;
    transition: none;
    
}


.secao1{
    max-width:1800px;
    
    max-height: max-content;
    background-color: white;
    margin:0 auto;
    opacity: 70%;
    padding-top:30px;
    padding-left:10vw;
    padding-right: 10vw;
    padding-top: 3vh;
    padding-bottom: 3vh;
}
.boxshirt{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap:30px;
    padding:30px 0px;
}
.boxcontainer{
    display: block;
    align-items: center;
    width:460px;
}
.boxcontainer:hover{
    border:1px solid rgba(0, 0, 0, 0.233);
    border-top:none;
    border-bottom: none;
    box-shadow: 2px 0px 2px rgba(0, 0, 0, 0.507);
}
.camimg{
    width:400px;
    height:400px;
}
h2{
    font-size:70px;
    font-weight: bold;
    text-align: center;
    padding:10px 10px 50px 10px;
    text-transform: uppercase;
    border-bottom:1px solid #00000067;

    
}
.comprar>p{
    color:black;
    font-size:25px;
    margin:0 auto;
    padding:15px 0px;
    text-transform: uppercase;
}
.comprar>p:hover{
    background:black;
    color:white;
    border-radius:10px;
}
.preco{
    padding-top:10px;
    padding-bottom: 10px;
    text-align: center;
    font-weight: bold;
}
.name{
    
    border-bottom: 1px solid #00000067;
    padding-bottom: 20px;
}
p{
    font-size: 18px;
    text-align: center;
    
}
#embacada{
    background-image: url(back2.jpg);
    height:500px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 70%;
    background-attachment: fixed;
}
.secao2{
    max-width:1700px;
    max-height: max-content;
    background-color: white;
    margin:0 auto;
    opacity: 70%;
    padding-top:30px;
    padding-left:10vw;
    padding-right: 10vw;
    padding-top: 3vh;
    padding-bottom: 3vh;
    

}



.chicago{
    background-image: url(grafite5.jpg);
    height:500px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 70%;
    background-attachment: fixed;
}
.secao3{
    max-width:1700px;
    max-height: max-content;
    background-color: white;
    margin:0 auto;
    opacity: 70%;
    padding-top:30px;
    padding-left:10vw;
    padding-right: 10vw;
    padding-top: 3vh;
    padding-bottom: 3vh;
}



footer{
    background-image: url(grafite6.jpg);
    height:100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 70%;
    background-attachment: fixed;
}



@media(max-width:1380px){
    .camimg{
        height:300px;
        width:300px;
    }
    .boxcontainer{
        height:max-content;
        width:max-content;
    }
}
@media(max-width:813px){
    .background{
        display:grid;
        align-items: center;
        justify-content: center;
        background-image: url(grafite3.jpg);
        height:100vh;
        background-repeat: no-repeat;
        background-position:left top;
        background-size: cover;
        opacity: 70%;
        background-attachment: fixed;
        transition: none;
    }    
    .conteudocab>a>img{
        width:25px;
        
    }

    .logo>img{
        width:120px;
        
        
    }
    .logo{
        width:120px;
    }
    
    
    .camimg{
        height:130px;
        width:130px;
    }
    .boxcontainer{
        height:max-content;
        width:max-content;
    }
    .comprar>p{
        font-size:15px;
    }
    .preco{
        font-size:13px;
    }
    .name{
        font-size:13px;
           
    }
    .title{
        font-size:40px;
    }
}
