*{
    margin:0;
    padding:0;
    outline: none;
    font-family: "Lato", sans-serif;
    text-decoration: none;
    transition: 0.4s linear;
}
body{
    width:100vw;
    height:100vh;

}
.sectcab{

    width:100vw;
    background-color: rgb(255, 255, 255);
    border-bottom:5px solid rgba(0, 0, 0, 0.89);
    box-s: 10px 10px rgba(0, 0, 0, 0.5);
    position: fixed;
    top:0;
    z-index: 10;
}
.conteudocab{
    display:flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin:0 auto;
    padding-left: 8vw;
    padding-right: 8vw;
}
.logo>img{
    -webkit-filter: invert(100%);
}
.logo{
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.conteudocab>a>img{
    
    width:40px;
    -webkit-filter: invert(100%);
}
.conteudocab>a{
    padding:10px;
    border-radius:10px;
}
.logo:hover{
    background-color: rgb(255, 255, 255);
    -webkit-filter: invert(100%);
}
.conteudocab>a:hover{
    background-color: rgb(255, 255, 255);
    -webkit-filter: invert(100%);
}

.background{
    background-image: url(ny.jpg);
    height:100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 70%;
    background-attachment: fixed;
}
.h1cima>h1{
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: rgba(0, 0, 0, 0.979);
    color:white;
    padding:13px 20px;
    font-weight: 300;  
    letter-spacing: 7px; 
}
.secao1{
    max-width:1700px;
    
    max-height: max-content;
    background-color: white;
    margin:0 auto;
    opacity: 70%;
    padding-top:30px;
    padding-left:10vw;
    padding-right: 10vw;
    padding-top: 3vh;
    padding-bottom: 3vh;
}

h3{
    font-size:30px;
    font-weight: bold;
    text-align: center;
    
}
p{
    font-size: 18px;
    text-align: center;
    vertical-align: middle;
}
#embacada{
    background-image: url(embacada.jpg);
    height:500px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 70%;
    background-attachment: fixed;
}
.secao2{
    background-color:#282E34;
    width:100vw;
    max-height:max-content;
    margin: auto;
    

}
.secao2>div{
    max-width: 1700px;
    margin:0 auto;
    padding-top:30px;
    padding-left:10vw;
    padding-right: 10vw;
    padding-top: 3vh;
    padding-bottom: 3vh;
}
.secao2>div>p{
    color:white;
    max-width: 1700px;
    
}
.secao2>div>h3{
    color:white;
}
.chicago{
    background-image: url(chicago.jpg);
    height:500px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 70%;
    background-attachment: fixed;
}
.secao3{
    background-color:#282E34;
    width:100vw;
    max-width: max-content;
    margin:auto;
}
.secao3>div>p{
    color:white;
    max-width: 1700px;
    
}
.secao3>div{
    margin:auto;
    max-width: 1700px;
    padding-top:30px;
    padding-left:10vw;
    padding-right: 10vw;
    padding-top: 3vh;
    padding-bottom: 3vh;
}
.secao3>div>h3{
    color:white;
}
footer{
    background-image: url(ny.jpg);
    height:100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 70%;
    background-attachment: fixed;
}
div>p{
    padding-top:20px;
    line-height: 30px;
}
.divfooter{
    position: relative;
}
.divfooter>div{
    display:block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.h1final{
    text-align: center;
    background-color: rgba(0, 0, 0, 0.979);
    color:white;
    padding:13px 20px;
    font-weight: 300;  
    letter-spacing: 7px; 
}
@media(max-width:750px){
    .conteudocab>a>img{
        width:30px;
    }
    .logo>img{
        width:180px;
    }
  
}